body,ul,li,ol,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;
}
a{
	text-decoration: none;
	display: block;
}
ul,li{
	list-style: none;
}
.clearfix:after{
	height: 0;
	content: ".";
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}
button,textarea{
	border: 0;
}
img{
	border: 0;
	display: block;
}
